.card {
  position: relative;
}

.card img {
  width: 11rem;
  height: 12rem;
  display: block;
  border-radius: 1rem;
  border: 2px solid #fff;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media screen and (min-width: 300px) {
  .card img {
    width: 4rem;
    height: 5rem;
    border-radius: 0.5rem;
  }
}

@media screen and (min-width: 600px) {
  .card img {
    width: 9.5rem;
    height: 10.5rem;
    border-radius: 0.8rem;
  }
}
